li {
  margin-bottom: 10px;
}

button {
  margin-left: 10px; /* ボタンとテキスト間のスペースを設定 */
}

.list-container {
  border: 1px solid #ccc; /* 枠線を追加（1pxの灰色の実線） */
  padding: 30px; /* 枠内の余白を追加 */
  border-radius: 5px; /* 枠の角を丸める（オプション） */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* ドロップシャドウを追加（オプション） */
  margin: 20px;
  max-width: fit-content; /* 最大幅をコンテンツに合わせる */
}

.title {
  margin-top: 20px;
  margin-left:20px ;
}